body {
    background-color:rgba(166, 97, 6, 0.758); 
}
img
{
    width: 174.5px;
    height:334.75px; 
    background-size: contain;
    background-position: center; 
    margin-bottom: 1rem;
}
card_2 {
    width: 174.5px;
    height:334.75px; 
    background-size: contain;
    background-position: center; 
    margin-bottom: 1rem;
    float: left;
}
card_3 {
    width: 174.5px;
    height:334.75px; 
    background-size: contain;
    background-position: center; 
    margin-bottom: 1rem;
    float: left;
}
buttons {
    text-align: center;
}
.btn {
    font: size 50rem;
    font-weight:700;
    /*padding:; */ 
    color:blueviolet; 
    transition-property:transform;  
    transition-duration:0.3s;
    transition-timing-function:ease-in;
    transition-delay: 1s;
   /* transition: all 0.3s; */
}

.btn:hover{
   /* transform: ;*/
    background-color: purple;
    color:white; 

}
.reset_btn {
    width: 50px; 
    height: 50px; 
}